---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Dorian
.page__content p,.page__content li,.page__content dl {
    font-size: 0.8em
}

code {
	font-size: 0.8em;
}

div.highlighter-rouge {
	line-height: 1;
}


// seems that the 1em default is not taking in account the bullet of list so needed to increase
.align-right {
	margin-left: 2em;
}

.align-left {
	margin-right: 2em;
}


// default is max-width: 100%. meaning that it is overwritting what I want in kramdown
img {
	max-width: auto;
}


// color dorian
a {
    color: #ffd670;
}

a:focus,button:focus {
    outline: thin dotted #ab955e;
    outline: 5px auto #ab955e;
}

html {
    background-color: #ffffff;
}

.greedy-nav {
    background: #bd1500;
}

.page__footer {
    background-color: #bd1500;
}

.toc .nav__title {
    background: #bd1500;
}

.toc {
    background-color: #211a01;
}


 /*add dorian */
 /*add dorian */
 /*add dorian */
 /*add dorian */

article img {
   &.emoji {          
      width: 20px;      
      height: 20px;     
    }                   
    &.emojibig {        
      width: 50px;      
      height: 50px;     
    }
}

h2 {
  color: #bd1500;
}

div.EventCardsContainer {
  color:black;
}


