---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/*add dorian */
/*add dorian */
/*add dorian */
/*add dorian */

// original kind of

/* Colors */
// to place before the @import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
// and without !default tag, $Color1: #00adb5 !default;
$Color1: #C41011;
$primary-color: #3b3b3b; // highlight in minimal-mistake
$secondary-color: #850b96;
$Color2: #3b3b3b;
$Color3: #e73331;
$Color4: #a81815;
$BGColor1: #e5e5e5;
$BGColor2: #ffffff;


@font-face {
  font-family: 'Kelson';
  src: url('{{ "/assets/fonts/Armasen - Kelson.woff" | relative_url }}') format('woff');
  // src: url('{{ "/assets/fonts/Armasen - Kelson-Medium.woff" | relative_url }}') format('woff');
  font-weight: normal;
  font-style: normal;
}

// $sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
// Skins

// keep the css behind the @import
// keep the css behind the @import
// keep the css behind the @import


#site-nav {
    font-family: 'Kelson', sans-serif !important;
    // font-size: 1.5em !important;
    letter-spacing: 0.05em; // try 0.05em → 0.1em
}

.page__hero {
  margin-bottom: 0em;
}


p {
  color: $Color2;
}

article img {
  &.emoji {
    width: 20px;
    height: 20px;
  }
  &.emojibig {
    width: 50px;
    height: 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $Color1;
  margin: 0.5em 0 0.5em 0;
}

div.EventCardsContainer {
  color: $Color2;
}

.masthead {
  background-color: $Color1;
}

.page__content p,
.page__content li,
.page__content dl {
  font-size: 0.8em;
}

code {
  font-size: 0.8em;
}

div.highlighter-rouge {
  line-height: 1;
}

article {
  display: contents; // it was block and I want everything in the middle of #main
}

// default is max-width: 100%. meaning that it is overwritting what I want in kramdown
img {
  max-width: 100%;
}

// color dorian
a {
  color: #ffd670;
}

a:hover {
  color: $BGColor1 !important;
}

a:focus,
button:focus {
  outline: thin dotted #6bb9d1;
  outline: 5px auto #6bb9d1;
}

input, textarea, select {
    display: inline-block;
    width: 100%;
    padding: 0.25em;
    margin-bottom: 0.5em;
    color: $BGColor1;
    background-color: $Color2;
    border: #51555d;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

::selection {
    color: $Color1;
    background: $Color2;
}


html {
  background-color: #ffffff;
}

.greedy-nav {
  background: $Color1 !important;
}

.page__footer {
  background-color: $Color1  !important;
}

.toc .nav__title {
  background: #3db125;
}

.toc {
  background-color: $Color2;
}

// EVENTS ----------------------------------------------------------------------------------------------
// EVENTS ----------------------------------------------------------------------------------------------
// EVENTS ----------------------------------------------------------------------------------------------
// EVENTS ----------------------------------------------------------------------------------------------
// EVENTS ----------------------------------------------------------------------------------------------
// EVENTS ----------------------------------------------------------------------------------------------

.EventCardsContainer {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  flex-direction: column;
  /* stack cards vertically */
  gap: 16px;
  padding: 10px;
}

/* If you want the card width to shrink on small screens: */
@media (max-width: 600px) {
  .EventCard {
    padding: 12px;
  }
}

.EventCardColumns {
  display: flex;
  gap: 25px;
  /* Abstand zwischen Spalten */
}

.EventCardLogo {
  flex: 0 0 100px;
  /* feste Breite für Logo */
}

.EventCardLogo img.logo {
  width: 100%;
  height: 100%;
  /* volle Höhe der Karte */
  object-fit: contain;
  /* Bild proportional skalieren */
  border-radius: 8px;
}

.EventCardContent {
  flex: 1;
  /* restlicher Platz für Inhalt */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.EventCard {
  width: 100%;
  /* full width of container */
  max-width: 1000px;
  /* optional, limits width on large screens */
  margin: 0 auto;
  /* center the card */
  background: $BGColor1;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
  font-size: 0.8em;
}

.EventCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.EventCard img.icon {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}

.EventCard img.flag {
  width: 24px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

.EventCardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  justify-content: space-between;
  /* distributes first, middle, last evenly */
  gap: 10px;
  /* optional spacing between items */
}

.EventCardName {
  font-weight: bold;
  font-size: 1.3em;
}

.EventCardCity {
  margin-bottom: 4px;
}

.EventCardDate {
  color: $Color1;
  font-size: 1.2em;
  text-align: center;
  flex: 1;
  /* makes the date expand and stay centered */
}

.EventSearchContainer {
  width: 100%;
  margin-bottom: 16px;
  text-align: center;
}

#eventSearchInput {
  width: 100%;
  max-width: 1000px;
  padding: 8px 12px;
  font-size: 1em;
  color: $BGColor2;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchResultsContainer h2 {
  display: block;
  width: 100%;
  margin: 20px 0 10px 0;
  font-size: 1.6rem;
  font-weight: bold;
}

#eventSearchInput.loading {
  cursor: not-allowed;
  color: $Color1;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 100 100"><circle cx="50" cy="50" r="45" stroke="%23999" stroke-width="10" fill="none" stroke-dasharray="283" stroke-dashoffset="75"><animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="1s" repeatCount="indefinite"/></circle></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 16px 16px;
}


// search filter --------------------------------------------------------------------------------------------
// search filter --------------------------------------------------------------------------------------------
// search filter --------------------------------------------------------------------------------------------
// search filter --------------------------------------------------------------------------------------------
// search filter --------------------------------------------------------------------------------------------
// search filter --------------------------------------------------------------------------------------------
// search filter --------------------------------------------------------------------------------------------

#eventYearFilterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  justify-content: center;
}

.year-filter-btn {
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: $BGColor1;
  color: $Color2;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.year-filter-btn:hover {
  background-color: $BGColor1;
}

/* Container for type filter icons */
#eventTypeFilterContainer {
  display: flex; /* horizontal row */
  flex-wrap: wrap; /* wrap icons to next line if needed */
  gap: 8px; /* space between icons */
  margin-top: 8px; /* space from search input */
  justify-content: center; /* center icons horizontally */
  align-items: center; /* vertically center if needed */
}

/* Each type icon uses same styling as card icons */
#eventTypeFilterContainer img.EventTypeIcon {
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

#eventTypeFilterContainer img.EventTypeIcon:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

// team --------------------------------------------------------------------------------------------------
// team --------------------------------------------------------------------------------------------------
// team --------------------------------------------------------------------------------------------------
// team --------------------------------------------------------------------------------------------------
// team --------------------------------------------------------------------------------------------------
// team --------------------------------------------------------------------------------------------------
// team --------------------------------------------------------------------------------------------------

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.team-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.team-card {
  background: $BGColor1;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.team-card img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.services-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.services-card {
  background: $BGColor1;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.services-card img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}

// contact
// contact
// contact
// contact
// contact
// contact
// contact
// contact

#contactForm {
  background-color: $BGColor2;
}

#contactForm > label {
  color: $Color2;
}

#contactForm > #message {
  height: 200px;
}

#contactButton {
  width: 300px;
  height: 50px;
  display: block; /* required for auto margins to work */
  margin: 0 auto; /* centers horizontally */
  border: 1px solid $BGColor1;
  border-radius: 5px;
  background-color: $Color1;
  color: $BGColor1;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

#contactButton:hover {
  transform: translateY(1px) translateX(1px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
  background-color: $Color3;
}